

body {
margin: auto;
padding: 5 px;
height: 800px;
width: 80%;
background-color:darkslategray;;
max-width: 90%;
max-height: 90%;

}


.searchBox {
    margin: auto;
    padding: 5 px;
    height: 700px;
    width: 80%;
    background-color: ghostwhite;
    /* background-color: rgb(54, 54, 54); */
    max-width: 90%;
    max-height: 90%;
}

.Jumbotron {
    margin: auto;
    padding: 5 px;
    background-color: rgb(59, 59, 59);
    color: ghostwhite;
    text-size-adjust: 80%;
    height: 50px;
    width: 80%;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
    text-size-adjust: 50%;
}

/* .instructionalText{
    background-color: ghostwhite;
} */
.outputCard {
    margin: auto;
    padding: 5 px;
    height: 400px;
    width: 100%;
    background-color: rgb(241, 247, 250);
    /* max-width: 90%; */
    max-height: 90%;
}

.searchInput {
    padding: 5px;
    border: 3px;
}

/* // GIVEN a weather dashboard with form inputs
// WHEN I search for a city
// THEN I am presented with current and future conditions for that city and that city is added to the search history
// WHEN I view current weather conditions for that city
// THEN I am presented with the city name, the date, an icon representation of weather conditions, the temperature, 
//    the humidity, the wind speed, and the UV index
// WHEN I view the UV index
// THEN I am presented with a color that indicates whether the conditions are favorable, moderate, or severe
// WHEN I view future weather conditions for that city
// THEN I am presented with a 5-day forecast that displays the date, an icon representation of weather conditions, the temperature, and the humidity
// WHEN I click on a city in the search history
// THEN I am again presented with current and future conditions for that city
// WHEN I open the weather dashboard
// THEN I am presented with the last searched city forecast */