

body {
margin: auto;
padding: 5 px;
height: 800px;
width: 80%;
background-color:darkslategray;;
max-width: 90%;
max-height: 90%;

}


.searchBox {
    margin: auto;
    padding: 5 px;
    height: 700px;
    width: 80%;
    background-color: ghostwhite;
    /* background-color: rgb(54, 54, 54); */
    max-width: 90%;
    max-height: 90%;
}

.Jumbotron {
    margin: auto;
    padding: 5 px;
    background-color: rgb(59, 59, 59);
    color: ghostwhite;
    text-size-adjust: 80%;
    height: 50px;
    width: 80%;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
    text-size-adjust: 50%;
}

/* .instructionalText{
    background-color: ghostwhite;
} */
.outputCard {
    margin: auto;
    padding: 5 px;
    height: 400px;
    width: 100%;
    background-color: rgb(241, 247, 250);
    /* max-width: 90%; */
    max-height: 90%;
}

.searchInput {
    padding: 5px;
    border: 3px;
}